@import 'nib'

global-reset()
reset-html5()

feedback()
  cursor: pointer
  &:hover
    background: $lightyeller

timer(fg)
  background: fg
  //linear-gradient(top, fg 40%, darken(fg, 10%) 60%)
  &:hover
    background: lighten(fg, 10%)
    //linear-gradient(top, lighten(fg, 10%) 40%, fg 60%)

$spacing = 18px
$gridline = 2px * ($spacing * 1.5px)

$timerpadding = 2px * $spacing
$timerleft = $gridline + ($spacing / 2px) - $timerpadding
$timerwidth = 10px * $spacing
$timerheight = 4px * $spacing

$black = #000
$brightwhite = #fff
$white = #efefef
$lightyeller = #ffb
$lightblue = #def
$lightgray = #ccc
$darkgray = #666
$tomato = #c30
$green = #090

::-webkit-scrollbar
  height: 8px
  width: 8px
  overflow: visible
::-webkit-scrollbar-button, ::-webkit-scrollbar-corner
  height: 0
  width: 0
::-webkit-scrollbar-thumb
  border-radius: $spacing
  background: rgba(0, 0, 0, 0.5)
::-webkit-scrollbar-track-piece
  background-color: $brightwhite

body
  font: $spacing/1 "Droid Sans", sans-serif
  margin: 0
  padding: 0
  overflow-x: hidden

input[type=text]
  font-size: $spacing
  padding: 1px 3px
  border: solid 1px lighten($tomato, 20%)
  border-radius: 5px

#header
  fixed: top left
  width: 100%
  height: $timerheight + 6px * $spacing
  box-shadow: 0 0 ($spacing / 2px) #000
  background: $brightwhite
  z-index: 100

#fmogh
  absolute: top (2px * $spacing) right -50px
  transform: rotate(45deg)
  background: $white
  color: $brightwhite

  &:hover
    background: linear-gradient(top, $tomato, darken($tomato, 30%))
  a
    padding: ($spacing / 2px) ($spacing * 3)
    color: inherit
    background: inherit
    text-decoration: none

#timer
  width: $timerwidth
  font-size: 4px * $spacing
  font-family: Inconsolata, Consolata, monospace
  text-align: center
  absolute: top $spacing left ($gridline + ($spacing / 2px) - (2px * $spacing))
  padding: $spacing $timerpadding
  border-radius: 2px * $spacing
  color: $white
  cursor: pointer
  z-index: 10

  &.work
    timer($tomato)
  &.break
    timer($darkgray)

#title
  cursor: pointer
  absolute: top (3px * $spacing) left ($timerleft + $timerwidth + 2 * $timerpadding + $spacing)
  feedback()

  &.editing
    input { display: block }
    span { display: none }

  input, span { font-size: 2px * $spacing }
  input { display: none }
  span { display: block }

#new-task
  absolute: bottom ($spacing / 2px) left $gridline

#screen
  fixed: top left
  width: 100%
  height: 100%
  background: $lightgray
  opacity: 0.666
  z-index: 10
  display: none

  &.running
    display: block

#tasks
  clear: left
  list-style: none
  text-align: left
  margin-top: $timerheight + 6px * $spacing
  z-index: 1

  li
    padding: ($spacing / 2px)
    position: relative
    clear: both
    height: 1.1px * $spacing

  li.task
    &:hover
      cursor: move
      .icon { opacity: 0.3 }

    &.active
      background: $lightyeller
      font-weight: bold
      .cursor { opacity: 1.0 }

    &.editing
      .input { display: block }
      .name { display: none }

    &.finished
      color: $darkgray
      background: $lightgray
      cursor: default

      .finish { opacity: 1.0 }
      .cursor, .remove { visibility: hidden }

    &.hidden
      display: none

    .timestamp
      display: none
      float: left

    .input
      display: none
      float: left
      font-size: $spacing - 3px

    .name
      display: block
      float: left
      feedback()

    .icon
      cursor: pointer
      width: $spacing
      margin-right: ($spacing / 2px)
      float: left
      opacity: 0.0

      &:hover { opacity: 1.0 }

      &.remove
        float: right
        margin-right: 0
        color: $tomato

      &.finish { color: $green }

    .tomatoes
      absolute: top ($spacing / 2px) right (2px * $spacing)

      span
        display: block
        float: right
        width: $spacing
        height: $spacing
        background: $tomato
        border-radius: $spacing
        margin-right: 2px

.modal
  fixed: top $spacing left $spacing
  z-index: 1000
  padding: $spacing
  background: $white
  width: 33em
  border-radius: $spacing
  box-shadow: 0 0 ($spacing / 2px) $black
  display: none

  p
    font: 16px/1.5 "Droid Serif", serif
    margin-bottom: $spacing

  button
    smooth-button()

.tool-button
  cursor: pointer
  color: $darkgray
  &:hover { color: $black }

#halp
  absolute: bottom (0.75px * $spacing) right (0.5px * $spacing)

#config
  absolute: bottom (0.85px * $spacing) right (1.5px * $spacing)

#filter
  absolute: bottom ($spacing / 2px) right (2.5px * $spacing)
  font-size: smaller
