@import 'nib'

feedback()
  cursor: pointer
  &:hover
    background: $lightyeller

timer(fg)
  background: fg
  &:hover
    background: lighten(fg, 10%)

$black = #000
$darkgray = #666
$lightgray = #ccc
$white = #efefef
$brightwhite = #fff

$lightyeller = #ffb
$lightblue = #def
$green = #090

$tomato = darken(#c30, 10%)

::-webkit-scrollbar
  height: 8px
  width: 8px
  overflow: visible
::-webkit-scrollbar-button, ::-webkit-scrollbar-corner
  height: 0
  width: 0
::-webkit-scrollbar-thumb
  border-radius: 20px
  background: rgba(0, 0, 0, 0.5)
::-webkit-scrollbar-track-piece
  background-color: $brightwhite

body
  font-family: Rosario
  overflow-x: hidden

#fmogh
  absolute: top 40px right -50px
  transform: rotate(45deg)
  background: $white
  color: $brightwhite

  &:hover
    background: linear-gradient(top, $tomato, darken($tomato, 30%))
  a
    padding: 10px 60px
    color: inherit
    background: inherit
    text-decoration: none

#timer
  font-size: 10em
  height: 1em
  padding-top: 0.5em
  font-family: Inconsolata, Consolata, monospace
  cursor: pointer
  &.work
    timer($tomato)
  &.break
    timer($darkgray)

#title
  cursor: pointer
  feedback()

  &.editing
    input { display: block }
    span { display: none }

  input, span { font-size: 40px }
  input { display: none }
  span { display: block }

#screen
  fixed: top left
  width: 100%
  height: 100%
  background: $lightgray
  opacity: 0.666
  z-index: 10
  display: none

  &.running
    display: block

#tasks
  li
    height: 12px

    &:nth-child(even)
      background: #eee

  li.task
    &:hover
      cursor: move
      .icon { opacity: 0.3 }

    &.active
      background: darken($tomato, 60%)
      color: $white
      .cursor { opacity: 1.0 }

    &.editing
      .input { display: block }
      .name { display: none }

    &.finished
      color: $darkgray
      background: $lightgray
      cursor: default

      .finish { opacity: 1.0 }
      .cursor, .remove { visibility: hidden }

    &.hidden
      display: none

    .timestamp
      display: none
      float: left

    .input
      display: none
      float: left

    .name
      display: block
      float: left
      feedback()

    .icon
      cursor: pointer
      width: 20px
      margin-right: 10px
      float: left
      opacity: 0.0

      &:hover { opacity: 1.0 }

      &.remove
        float: right
        margin-right: 0
        color: $tomato

      &.finish { color: $green }

    .tomatoes
      span
        display: block
        float: right
        width: 20px
        height: 20px
        background: $tomato
        border-radius: 20px
        margin-right: 2px
