@import 'nib'

::-webkit-scrollbar
  height: 8px
  width: 8px
  overflow: visible
::-webkit-scrollbar-button, ::-webkit-scrollbar-corner
  height: 0
  width: 0
::-webkit-scrollbar-thumb
  border-radius: 20px
  background: rgba(0, 0, 0, 0.5)
::-webkit-scrollbar-track-piece
  background-color: #fff

body
  font-family: Rosario, 'Lucida Grande', sans-serif

#title
  fixed: top 0px left 0px
  height: 60px
  width: 100%
  background: #fff

  .search-query { margin-top: 10px }
  .form-inline
    margin-top: 15px
    .btn { margin-top: 0 }
  .toggle
    margin: 15px 20px 0 0
    opacity: 0.3
    &:hover { opacity: 1.0 }

#controls
  fixed: top 60px left 0px
  height: 40px
  width: 100%
  background: #fff

  form { margin: 0 }

#timer
  text-align: center

  #clock
    font-size: 10em
    height: 1em
    padding-top: 0.5em
    font-family: Inconsolata, Consolata, monospace

  &.work
    color: #369
    h1:before { content: 'work on: ' }
    h1:after { content: '' }

  &.brake
    color: #396
    h1:before { content: '' }
    h1:after { content: ' break' }

#tasks
  margin-top: 100px

  .task
    height: 20px
    padding: 5px 0

    .name
      cursor: pointer
      padding-left: 10px

    &:nth-child(even)
      background: #dfefff
      &:hover { background: #ffdfbf }
      &.finished { background: #9f9f9f }

    &:hover
      background: #fed
      .icons i { opacity: 0.3 }

    &.finished
      color: #6f6f6f
      background: #afafaf
      .name { cursor: inherit }

    .tomatoes i { padding: 1px }

    .icons i
      padding: 5px
      cursor: pointer
      opacity: 0.0
      &:hover { opacity: 1.0 }
      &.on { opacity: 1.0 }
