@import 'nib'

body
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif

#title
  .search-query { margin-top: 10px }
  .form-inline
    margin-top: 15px
    .btn { margin-top: 0 }
  .toggle
    margin: 15px 20px 0 0
    opacity: 0.3
    &:hover { opacity: 1.0 }

#prefs
  padding-top: 6px

  i { margin-left: 9px }

  .muted { color: #ddd }

  .toggler:hover { cursor: pointer }

  .loading
    animation: throbber 1.5s infinite

@keyframes throbber
  0%   { color: #8c8 }
  50%  { color: #cfc }
  100% { color: #8c8 }

#timer
  text-align: center

  #clock
    font-size: 6em
    height: 1em
    padding-top: 0.5em
    font-family: Inconsolata, Consolata, monospace

  &.work { color: #369 }

  &.brake
    color: #396
    h1:before { content: '' }
    h1:after { content: ' break' }

#filter
  margin-left: 20px

#tasks
  .task
    padding: 5px 0
    user-select(none)

    .name
      cursor: pointer
      padding-left: 10px

    &:nth-child(odd)
      background: #dfefff
      &:hover { background: #ffdfbf }
      &.finished { background: #9f9f9f }

    &:hover
      background: #fed
      .icons i { opacity: 0.3 }

    &.finished
      color: #6f6f6f
      background: #afafaf
      .name { cursor: inherit }

    .tomatoes i { padding: 1px }

    .icons i
      padding: 5px
      cursor: pointer
      opacity: 0.0
      &:hover { opacity: 1.0 }
      &.on { opacity: 1.0 }
